
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
	        <p>I used the AWARE framework to use my smartphone's sensors to collect data about my location, movement, and activities. I collected the following data: accelerometer, location, and activity recognition.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>This dataset comes from data I collected on my phone using the AWARE framework. More info at http://www.awareframework.com/</p>
	<p>While cleaning the location dataset, I plotted all the datapoints to make sure that they all mapped to the Pittsburgh area. I also converted the unix timestamp to human time to verify authenticity.</p>	
     <p>While preparing the acitivity recognition dataset, I plotted all the datapoints on a time axis and visualized the data using color to make sure that all the data was correct. That's how I noticed that a few datapoints from Feb 28 were wrong - the dataset implied that I was driving at 3 AM, when in reality I was fast asleep.</p>
     <p>For the accelerometer dataset, I queried the dataset using SQL to extract the rows for which the square root of the sum of the squares of doubles_value_0, doubles_value_1, and doubles_value_2 were equal to or close to 0 (a value of 0 implies freefall, i.e., a phone being dropped from a height).</p>
      </div>
      
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>The data in these visualizations is publicly accessible but owned by me. The rest of the data (I collected data over 7 days) is private.</p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
